.pink-box {
    background-color: #aae8f8;
}
h1 {
  color: #0f0409;
  font-weight: bold;
  margin-bottom: 10px;
}
h2{
    color: #a7132c;
}
.btn-primary{
background-color: rgb(255, 0, 0);
color: white;
}
.profileImage{
    border-radius: 15px;
}
.pink-btn {
    background-color: pink;
    color: white;
    border: none;
}

.pink-btn:hover {
    background-color: hotpink;
}
p{
color: rgb(196, 4, 4);
font-weight: 600;
}