.pink-box {
    background-color: #ffe0f0; 
    padding: 20px;
    border-radius: 15px;
}
p{
    color: rgb(196, 4, 4);
    font-weight: 800;
    margin: 5px 0;
}
h3{
    color: #3a3a3a;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
ul{
    list-style: none;
    padding: 0;
}

li{
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 8px 10px;
    border-radius: 8px;
    font-weight: 500;
}